

/*body DOWN*/

body{
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: black;

}


h1, h2, h3, h4, h5, h6{
  margin: 0;
  }

/*body UP*/



/*header DOWN*/

.header{
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}


.logo_img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;


}

.logo_text{

  display: flex;
  padding-top: 3px;

}

.l_txt {

  display: flex;
  flex-direction: column;
}

.logo_text h1{
  font-size: 26px;
  margin: 0;
  
}

.logo_text p{

font-size: 13px;
margin: 0;

}



.nav_link{
  
  text-decoration: none;
  color: white;
  vertical-align: top;
  margin: 0 10px;

}

/*header UP*/



/*intro DOWN*/


.intro {
  background: url("../img/hero-image.jpg")  center no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro:after {
  position: absolute;
  content: '';
  left:0; top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.container {
  
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
}


.intro_title {
  color:white;
  text-align: center; 
  font-size: 20px;
  padding-top: 6px;
 }

 .intro_title h2{

  font-size: 30px;

 }

 .intro_title p{

  font-size: 18px;
  color: rgb(180, 175, 175); 

 }

 



/*intro UP*/


/*second slide DOWN*/

.second_part{

 font-size: 25;
 font-weight: 600;

}


h3{

  color:rgb(32, 32, 32);
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 275px;
  margin-top: 100px;
  margin-bottom: 50px;

}

.second_text_fflex {



display: flex;
flex-direction: row;
justify-content: center;
font-size: 16px;



}

.second_text_fflex p{

margin: 30px;
color:rgb(75, 75, 75);

}


/*2ND PAGE IMG DONW*/
.second_img_fflex{
 display: flex;
 justify-content: center;
}

.second_img {
margin-left: 15px;
}

.second_item {
position: relative;
}

.second_item:hover .second_img img {
 opacity: .2;
}

.second_item:hover .second_text { /*2 show text*/
  opacity: 1;
}

.second_img {
 background: linear-gradient(to bottom, black, black);

}

.second_img img {
  display: block;
transition: opacity .5s linear;
}


.second_text { /*2 show text*/
  width: 100%;
color: white;
font-size: 20px;
text-align: center; 
opacity:0 ;

position: absolute;
top: 50%;
left: 0;
z-index: 2;
transform:translate3d(0, -50%, 0);

}

.description {
font-size: 14px;
margin-top: 10px;
color:rgb(182, 182, 182);

}

/*2ND PAGE IMG UP*/


.under_second_img {

  display: flex;
  flex-direction: row;
  justify-content: center;

}

.under_second_img p{

  color: rgb(27, 27, 27);
  margin: 0 160px ;
  font-size: 18px;
  text-align: center; 

}

.under_name {

  display: flex;
  flex-direction: row;
  justify-content: center;

}

.under_name p {

  color: rgb(59, 59, 59);
  margin: 0 200px ;
  font-size: 13px;
  text-align: center; 
  margin-bottom: 80px;

}


.block_line {

display: block;
height: 1px;
width: 100%;
margin: 60px auto 0 ;

background-color: rgb(182, 182, 182);

}


/*second slide UP*/


/*services DOWN*/

.services_inner{
font-size: 14px;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
}


h4{
  margin-top:150px;
  text-align: center; 
  text-transform: uppercase;
  font-size: 30px;

}

.services_img1{
 display: flex;
 justify-content: center;
 margin-top: 150px ;

}

.services_img1_item{
  
margin: 0 200px;

}

.services_text1 {
color: rgb(104, 104, 104);;
display: flex;
justify-content: center;
font-size: 16px;
}

.services_text1_item {
margin: 0 210px;

}

.services_img2{
  display: flex;
  justify-content: center;

}

.services_img2_item{
margin: 5px 200px;

}

.services_text2{
  color: rgb(104, 104, 104);;
  display: flex;
  justify-content: center;
  font-size: 16px;

}

.services_text2_item {
  margin: 0 210px;
  
  }

.services_main_text{
  display: flex;
  justify-content: center;
  
  
}

.services_main_text_item {
  margin:40px 20px;
 margin-bottom:150px ;
 font-size: 18px;
 color:rgb(104, 104, 104);
 
}


/*services UP*/

/*blackbackground_text DOWN*/

.bb_and_text{
 background-color:black ;
 width: 100%;
 height: 300px;
}

.bb_flex{
  display: flex;
  justify-content: center;
 
}

.bb_text{
  color:white;
  font-size: 16px;
}

.bb_main_text{
  font-size: 26px;
  margin-left: 150px;
  padding-top: 50px;
}

.bb_not_main_text {
  font-size: 18px;
  margin-left: 150px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.bb_text_link {
  display: inline-block;
  vertical-align: top;
  padding: 3px 30px;
  border: 2px solid white;
  
 
  color:white;
  font-size: 15px;
  text-decoration: none;
  margin-left: 150px;

  transition: background 1s;
  
}

.bb_text_link:hover {
background-color: white;
color: black;

}


/*blackbackground_text UP*/




/*portfolio DONW*/

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h5{
  text-align: center;
  font-size: 30px;
  color:black;
  margin-top: 150px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.portfolio p{
  text-align: center;
  font-size: 18px;
  color:rgb(65, 65, 65);
  margin-bottom: 20px;
}



/*portfolio img1 DOWN*/
 
.portfolio_img1 {
display: flex;
flex-direction: row;
justify-content: center;

}

.portfolio_img1_item{
  position: relative;
}

.portfolio_img1_item:hover .portfolio_img1_img img{
  opacity: .3;
}

.portfolio_img1_item:hover .portfolio_img1_text {
  opacity: 1;
}

.portfolio_img1_img {
background: linear-gradient(to bottom, black, black);
margin-left: 20px;
}

.portfolio_img1_img img{
  transition: opacity .5s linear;
  display: block;
  height:500px;
}

.portfolio_img1_text {
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  transform: translate3d(0, -50%, 0);

  transition: opacity .5s linear;
}
.portfolio_img1_text p{
  color: white;
}

.img1_main_text {
  font-size: 24px;
  margin-bottom:25px;
}

.portfolio_img_link:hover{
  background: black;
  border: 2px solid black;
  color: white;
  transition: background .5s linear;
  transition: border .5s linear;
  transition: color .5s linear;
}

.portfolio_img_link {
  display: inline-block;
  vertical-align: top;
  border: 2px solid white;
  background: white;
  padding: 2px 15px;
  text-decoration: none;
  color: black;
  font-size: 16px;

  margin-top: 10px;
}






/*portfolio img1 UP*/





/*portfolio img2 DOWN*/
 
.portfolio_img2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  }
  
  .portfolio_img2_item{
    position: relative;
  }
  
  .portfolio_img2_item:hover .portfolio_img2_img img{
    opacity: .3;
  }
  
  .portfolio_img2_item:hover .portfolio_img2_text {
    opacity: 1;
  }
  
  .portfolio_img2_img {
  background: linear-gradient(to bottom, black, black);
  margin-left: 20px;
  }
  
  .portfolio_img2_img img{
    transition: opacity .5s linear;
    display: block;
    height:500px;
  }
  
  .portfolio_img2_text {
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0;
  
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    transform: translate3d(0, -50%, 0);
  
    transition: opacity .5s linear;
  }
  .portfolio_img2_text p{
    color: white;
  }
  
  .img2_main_text {
    font-size: 24px;
    margin-bottom:25px;
  }
  
  .portfolio_img_link:hover{
    background: black;
    border: 2px solid black;
    color: white;
    transition: background .5s linear;
    transition: border .5s linear;
    transition: color .5s linear;
  }
  
  .portfolio_img_link {
    display: inline-block;
    vertical-align: top;
    border: 2px solid white;
    background: white;
    padding: 2px 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
  
    margin-top: 10px;
  }
  
  
  /*portfolio img2 UP*/






/*portfolio UP*/


/*bb2 DOWN*/

.bb2{
  margin-top: 250px;
  background-color: black;
  width: 100%;
  height:280px;
  text-align: center;
}


.bb_text{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 17px;
}

.bb2_main{
  padding-bottom: 30px;
  font-size: 24px;
}


.bb2_link:hover {
  border: black;
  background: black;
  color:white;

  transition: background .5s linear;
  

}


.bb2_link {
  display: block;
  border: white;
  text-align: center;
  background: white;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  width:10%;
  margin-top: 30px;
  margin-left: 790px;
  

}



/*bb2 UP*/




/*benefits2 DOWN*/

.benefits2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  margin-bottom:140px;
}


.benefits2_main {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 130px;
}

.benefits2_img1{
display: flex;
flex-direction: row;
justify-content: center;



}
 
.benefits_item {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 35px;
  padding-top:50px;
  
}

.benefits2_img {
  width: 80px;
  height: 64px;
  margin-left: 35%;
  padding-left: 10px;
}

.benefits2_name {
  font-size: 30px;
  color:rgb(53, 53, 53);
  
}

.benefits2_text{
  font-size:17px;
}


/*benefits2 UP*/



/*NEWSLETTER DONW*/
  


.NEWSLETTER {
  background-color: rgb(241, 241, 241);
  width: 100%;
  height: 200px;
}

.newsletter_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter_text{
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color:black;
}



.newsletter_interactive {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*---------*/

.newsletter_buttom:hover{
border:White;
background: white;

transition: background .5s linear;

}

.newsletter_buttom:hover .newsletter_link{
  color:black;

  transition: color .5s linear;
}

.newsletter_buttom {
  display: inline-block;
  border: 2px black;
  padding: 8px 30px;
  background: black;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: white;

  margin-left:20px;
  margin-top:10px;
}

.newsletter_link{
  color:white;
  text-decoration: none;
}




/*NEWSLETTER UP*/

/*contact DONW*/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_main {
text-transform: uppercase;
font-size: 30px;
margin-top:150px;
margin-bottom:150px;

}

.contact_info {

  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left:45px;
}

.contact_info p{
  font-size: 19px;
  color:rgb(112, 112, 112);
  margin:0 150px;
}



/*contact UP*/




/*footer DONW*/


.about_us{
  background-color:rgb(238, 238, 238);
}


.footer{
  margin-top:100px;

}
.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about_us img{
  margin-top: 150px;
  margin-bottom: 100px;
}


.about_description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right:400px;
}

.description_main_text{
  font-size: 25px;
  color: rgb(27, 27, 27);
}

.description_text {
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.description_links{
 

  padding-left: 20px;
}


.description_link {
  text-decoration: none;
  font-size:18px;
  color: rgb(49, 49, 49);
}


.description_ti{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-right:1140px;
  margin-top: 150px;
}

.description_ti p {
  font-size:18px;
  color: rgb(49, 49, 49);
  margin-left: 10px;

}

.description_ti a{
  color:rgb(91, 91, 255);
}

.description_rest {
  display: flex;
  flex-direction: column;
  margin-right:635px;
  margin-top:20px;
  margin-bottom:150px;
  
}

.description_rest p {
  font-size: 18px;
  color: rgb(49, 49, 49);
}

.description_rest a{
  color:rgb(91, 91, 255);
}

.description_4margin {
  padding-bottom: 25px;
}


/*footer UP*/


/*ass DONW*/

.ass {
  background-color: rgb(190, 190, 190);
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ass p{
  margin: 0 30px;
}

.ass a{
  color: black;
  text-decoration: none;
}


/*ass UP*/